<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Number Guessing Game</title>
    <script src="/static/script.js" defer></script>
    <link rel = "stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Number Guessing Game</h1>
    <input type = "number" id = "upperlimit" placeholder = "Enter the upper limit for randomiser">
    <button id = "limitsubmitbutton" onclick = "limitSend()">Randomise</button>
    <p id = "usergiveninputcheck">Current randomiser limit is 65536.</p>

    <input type = "number" id = "userGuess" placeholder = "Enter your guess">
    <button id = "submitButton" onclick = "guessSend()">Submit</button>
    <p id = "systemOutput">Guess the number!</p>
</body>